<!DOCTYPE html>
<html>
  <head>
    <title>Inventory App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Vue instance -->
      <div id="app-container" class="app">
      <app inline-template>
        <div class="app__container">
          <vue-header>
            <template slot="center">
              <%= link_to 'Home', root_path, class: "link-light #{current_class?(root_path)} mx-2" %>
              <%= link_to 'Inventory', categories_path, class: "link-light #{current_class?(categories_path)} mx-2" %>
            </template>
          </vue-header>
          <%= yield %>
        </div>
      </app>
    </div>
  </body>
</html>
